* {
  margin: 0;
  box-sizing: border-box;
}

/* ----------------------------------Mobil--------------------------------- */
@media (max-width: 768px) {
  .kvadrat::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: white;
    border: 1px solid #000;
    margin-right: 5px;
  }

  .kvadrat {
    color: black;
  }

  /* 1,2,3 step starter */

  .step-indicator {
    display: flex;
    justify-content: space-between;
    margin: 70px 0;
  }

  .step {
    flex-grow: 1;
    text-align: center;
    padding: 5px;
    background-color: #fff;
    color: #666;
    border: 1px solid #ddd;
    position: relative;
    font-family: "futura-pt", sans-serif;
    font-weight: 300;
    font-style: normal;
  }

  .step.active {
    background-color: #b0b2b4;
    color: #fff;
    border-color: #b0b2b4;
    font-family: "futura-pt", sans-serif;
    font-weight: 300;
    font-style: normal;
  }

  .step-content {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    text-align: left;
    margin-top: 0px;
  }

  .step_text {
    flex-grow: 1;
    text-align: center;
    padding: 5px;
    background-color: #fff;
    color: #666;
    position: relative;
    margin-top: -60px;
    font-family: "futura-pt", sans-serif;
    font-weight: 300;
    font-style: normal;
  }

  /* Form-felt starter */

  form [name="Levering"] {
    max-width: 1000px;
    margin: 0 auto;
    background: white;
    border-radius: 15px;
    color: #666;
  }

  .form-felt {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3px;
    color: #666;
  }

  .form-felt input {
    width: 100%;
    height: 40px;
    padding: 8px;
    margin-bottom: 10px;
  }

  input {
    width: 100%;
  }

  button {
    width: 100%;
    margin-top: 1.5px;
  }

  main {
    max-width: 800px;
    margin-inline: auto;
    padding-inline: 2rem;
    margin-block: 3rem;
  }

  section {
    display: grid;
    gap: 3rem;
    align-items: start;
  }

  /* Button styling */

  .green_button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }

  .green_button:hover {
    background-color: #45a049;
  }
}

/* ----------------------------------Desktop--------------------------------- */

@media (min-width: 800px) {
  h3 {
    font-family: "futura-pt", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 2rem;
  }

  h5 {
    font-family: "futura-pt", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
  }

  h6 {
    font-family: "futura-pt", sans-serif;
    font-weight: 300;
    font-style: normal;
  }

  .login-text #log-in {
    font-weight: bold;
    color: black;
    cursor: pointer;
  }

  .kvadrat::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: white;
    border: 1px solid #000;
    margin-right: 5px;
  }

  .kvadrat {
    color: black;
  }

  /* 1,2,3 step starter */
  .step-indicator {
    display: flex;
    justify-content: center;
    /* margin: 20px 0; */
    font-size: 2.3rem;
    margin-left: 10%;
  }

  .step {
    /* flex-grow: 1; */
    text-align: center;
    padding: 10px;
    background-color: #fff;
    color: #666;
    border: 1px solid #ddd;
    position: relative;
    margin-right: 100px;
    font-family: "futura-pt";
  }
  .step.completed {
    color: #5cb85c;
    border-color: #5cb85c;
  }
  .step.active {
    background-color: #4caf50;
    color: #fff;
    border-color: #4caf50;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    margin-right: 80px;
  }

  .step::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    /* width: 50px;
  height: 50px; */
    background-color: #ddd;
    transform: translateY(-50%);
    z-index: -1;
  }

  #step2 {
    margin-right: 80px;
    width: 70px;
    height: 70px;
    border-radius: 100%;
  }
  #step3 {
    width: 70px;
    height: 70px;
    border-radius: 100%;
  }

  .step.active::before,
  .step.completed::before {
    background-color: #007bff;
  }

  .step-content {
    text-align: left;
    margin-top: 0px;
  }

  /* .step-indicator {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
  }

  .step {
    flex-grow: 1;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    color: #666;
    border: 1px solid #ddd;
    position: relative;
    font-family: "futura-pt", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  .step.completed {
    color: #5cb85c;
    border-color: #5cb85c;
  }
  .step.active {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
    font-family: "futura-pt", sans-serif;
    font-weight: 300;
    font-style: normal;
  }

  .step::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ddd;
    transform: translateY(-50%);
    z-index: -1;
  }

  .step.active::before,
  .step.completed::before {
    background-color: #dbdde0;
  }

  .step-content {
    text-align: left;
    margin-top: 0px;
  }
/*  */
  .step-content {
    display: flex;
    /* justify-content: space-between; */
    margin: 20px 0;
  }

  .step_text1 {
    flex-grow: 1;
    text-align: center;
    /* padding: 1px; */
    background-color: #fff;
    color: #666;
    position: relative;
    margin-top: -60px;
    font-family: "futura-pt", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-left: 8rem;
  }
  .step_text2 {
    flex-grow: 1;
    text-align: center;
    padding: 1px;
    background-color: #fff;
    color: #666;
    position: relative;
    margin-top: -60px;
    font-family: "futura-pt", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-left: 10px;
  }
  .step_text3 {
    flex-grow: 1;
    text-align: center;
    padding: 1px;
    background-color: #fff;
    color: #666;
    position: relative;
    margin-top: -60px;
    font-family: "futura-pt", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-right: 11rem;
  }

  /* Form-felt starter */

  form [name="Levering"] {
    max-width: 1000px;
    margin: 0 auto;
    background: white;
    border-radius: 15px;
    color: #666;
  }

  #email {
    padding: 10px 0;
  }

  .form-felt {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3px;
    color: #666;
  }

  .form-felt input {
    width: 100%;
    height: 40px;
    padding: 8px;
    margin-bottom: 10px;
  }

  .adresse,
  .land {
    grid-column: span 2;
  }

  input {
    width: 100%;
  }

  button {
    width: 100%;
    margin-top: 1.5px;
  }

  main {
    max-width: 800px;
    margin-inline: auto;
    padding-inline: 2rem;
    margin-block: 3rem;
  }

  section {
    display: grid;
    gap: 3rem;
    align-items: start;
  }

  /* Button styling */

  .green_button {
    background-color: #4caf50;
    color: #fff;
    padding: 17px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: "futura-pt", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  .green_button:hover {
    background-color: #45a049;
  }

  ::placeholder {
    font-family: "futura-pt", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
}
