/* FAQ */

.wrapper {
    max-width: 75%;
    margin: auto;
}

.wrapper > p,
.wrapper > h1 {
    margin: 1.5rem 0;
    text-align: center;
}

.wrapper > h1 {
letter-spacing: 3px;
}

.accordion {
    background-color: white;
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    font-size: 1.2rem;
    width: 100%;
    padding: 2rem 2.5rem;
    /* Removes the box down below */
    border: none;
    outline: none;
    transition: 0.4s;
    /* Align text to left and icon to right side*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
} 

.accordion i {
    font-size: 1.6rem;
}

.active, 
.accordion:hover {
background-color: #EAE7DF;
}

.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    background-color: #EAE7DF;
    /* 0 px for top, 2rem for right, 2.5rem for bottom, 2rem for left side. */
    padding: 0 2rem 2.5rem 2rem;
}

.panel p {
    color: rgba(0, 0, 0, 0.7);
    font-size: 1.2rem;
    line-height: 1.4 ;
}

/* Frame around the FAQ box */

.faq {
    border: 1px solid #000000;
    margin: 10px 0;
}

.faq.active {
border: none;
}

